.navigation {
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
  position: absolute;
  z-index: 2;
  background-color: #000;
}
ul {
  list-style: none;
  text-align: end;
}
a {
  color: #fefefe!important;
  text-decoration: none;
}
a:hover, a.router-link-exact-active {
  text-decoration: underline;
}
li {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #fefefe!important
}

.nav__menu {
  cursor: pointer;
  position: absolute;
  z-index: 1;
}