.wallet {
  width: 100%;
  height: 100%;
}

.wallet__bg {
  width: 100%;
  min-height: 100vh;

  background: url(../../../assets/wallet-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 5s;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  
}

.wallet__container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 12% 0;
}

.wallet__title {
  font-size: 52px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

.wallet__description {
  font-size: 24px;
  font-weight: 500;
  color: #585D86;
}

.wallet__btn Button {
  width: 180px;
  color: #fff;
}

.wallet__btnSignup > Button,
.wallet__phoneBtn > Button {
  background: #08B952!important;
  border: 0!important;
  color: #fff!important;
}

.wallet__phoneBtn > Button {
  width: 180px;
}

.wallet__phone {
  width: auto;
  height: 430px;
}

.wallet__phoneDescription {
  font-size: 24px;
  font-weight: 500;
  color: #585D86;
  margin-top: 4%;
}