.header {
  width: 100%;
  height: 80px;
  position: absolute;
}

.header__container {
  max-width: 76rem;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
}

.header__logo {
  width: 34px;
  height: 34px;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
}

.header__btn > Button {
  background: #08B952!important;
  border: 0!important;
  color: #fff!important;
  width: 180px;
}

.header__card {
  min-width: 620px;
  padding: 20px!important;
  background-color: #293462!important;
  color: #fff;
  border-radius: 8px!important;
}

.header__cardTitle {
  font-size: 22px;
  font-weight: 600;
}

.header__cardItem {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.header__cardImg {
  width: 28px;
  height: 28px;
}

.header__item:hover,
.header__cardItem:hover {
  color: #40FF90!important;
}

a {
  color: #fff!important;
}