.home {
  width: 100%;
  height: 100%;
}

.home__container {
  margin: 0 auto;
  max-width: 76rem;
}
.home__image {
  width: 100%;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 5s;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

.home__title {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}

.home__description {
  color: #E0E1EB;
  font-size: 32px;
  font-weight: 500;
  padding: 4% 0;
}

.home__right Button {
  color: #fff;
  width: 100%;
}

.home__btn > Button {
  background: #08B952!important;
  border: 0!important;
  color: #fff!important;
}

.home__mainFeature {
  font-size: 52px;
  font-weight: 700;
  color: #fff;
}

.home__featureCard {
  padding: 20px;
  border-radius: 8px;
  background: url(../../../assets/bg-card.svg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home__featureTitle {
  color: #40FF90;
  font-size: 24px;
}
.home__feature {
  font-size: 24px;
  color: #8488AE;
  transition: color 1s;
}

.home__feature:hover {
  color: #fff;
}

.home__btnScroll {
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.home__technologyTitle {
  font-size: 52px;
  font-weight: 700;
  color: #fff;
}

.home__technologyLang {
  font-size: 32px;
  font-weight: 600;
  margin-left: 20px;
  color: #F2F2F2;
  margin-bottom: 0;
}

.home__technologyLangDes {
  font-size: 24px;
  font-weight: 500;
  color: #CCCCCC;
  margin-left: 20px;

}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 40px;
  }
}

.home__partnerContainer {
  margin: 10% 0;
  padding: 4% 0;
  border-radius: 8px;
  background: url(../../../assets/bg-card.svg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home__partner {
  padding-left: 6%;
}

.home__partnerDes {
  font-size: 24px;
  color: #8488AE;
  font-weight: 600;
}

.home__roadmap {
  font-size: 52px;
  font-weight: 600;
  color: #fff;
}

.home__partnerTitle {
  font-size: 52px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

.home__partnerImg {
  width: 240px;
  height: auto;
}

.home__partnerImg:hover {
  filter: grayscale(0);
  opacity: 1;
}

.home__card {
  width: 320px;
  padding: 20px!important;
  background: rgba( 9, 13, 40, 0.80 )!important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )!important;
  backdrop-filter: blur( 1.0px )!important;
  -webkit-backdrop-filter: blur( 10.0px )!important;
  border-radius: 10px!important;
}

.home__card p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.home__partner {
  margin: 4% 0;
}

@media only screen  and (max-width: 991px) {
  .home__container {
    padding: 0 20px;
  }
  .home__title {
    font-size: 32px;
  }
  .home__selLogo {
    width: 44px;
    height: auto;
  }
  .home__right {
    display: flex;
    flex-direction: column;
    align-items: center!important;
  }
  .home__description {
    text-align: center;
  }
  .home__technologyLogo {
    width: 60px;
    height: 60px;
  }
  .home__feature,
  .home__technologyLangDes,
  .home__partnerDes {
    font-size: 14px;
  }
  .home__partnerDes {
    padding-top: 20px;
  }
  .home__mainFeature,
  .home__technologyTitle,
  .home__partnerTitle,
  .home__roadmap {
    font-size: 24px;
  }
  .home__description, 
  .home__featureTitle,
  .home__technologyLang {
    font-size: 18px;
  }
  .home__partnerImg {
    width: 120px;
    height: auto;
  }
  .home__btnScroll {
    display: none;
  }
  .home__right Button {
    width: 120px;
  }
}