.failed {
  width: 100%;
  height: 100%;
}
.failed__container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 12% 0;
}
.failed__title {
  font-size: 32px;
  color: #999ABB;
  font-weight: 700;
}

.failed__btn > Button {
  background: #08B952!important;
  border: 0!important;
  color: #fff!important;
  width: 100%;
}