.privacy {
  width: 100%;
  height: 100%;
}

.privacy__container {
  max-width: 76rem;
  padding: 4% 0;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
}

.privacy__header {
  font-size: 45px;
  color: #585D86;
  font-weight: 700;
}

.privacy__update {
  font-size: 32px;
}

.privacy__title {
  font-size: 32px;
}