.termofuse {
  width: 100%;
  height: 100%;
}

.termofuse__container {
  max-width: 76rem;
  padding: 4% 0;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
}

.termofuse__header {
  font-size: 45px;
  font-weight: 700;
  color: #585D86;
}

.termofuse__update {
  font-size: 32px;
}

.termofuse__title {
  font-size: 32px;
}


@media only screen  and (max-width: 991px) {
  .termofuse__container {
    padding: 20px;
  }
}

@media only screen  and (max-width: 1200px) {
  .termofuse__container {
    padding: 10% 20px;
  }
}