.footer {
  width: 100%;
  height: 100%;
}

.footer__container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 4% 0;
}

.footer__title {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}

.footer__item {
  color: #585D86;
  font-size: 24px;
}