.about {
  width: 100%;
  height: 100%;
}

.about__container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 8% 0;
}

.about__title {
  color: #EDEEFF;
  font-size: 52px;
  font-weight: 600;
}

.about__description {
  color: #fff;
  font-size: 18px;
}

.about__card {
  background: #181C35!important;
  border: none!important;
  border-radius: 8px!important;
  text-align: center;
}

.about__cardName {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.about__cardP {
  color: #fff;
  font-weight: lighter;
  font-size: 18px;
}

.about__card img {
  width: 122px;
  height: 120px;
  object-fit: contain;
}