.ant-layout-header {
  padding: 0 170px!important;
}

.ant-layout-header, .ant-menu {
  background: #181C35!important;
}

.ant-menu-item-selected,
.ant-menu-item:hover {
  background: none!important;
}

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
}
.dropdown {
  width: 12px;
  height: 12px;
}

.button {
  background: #08B952!important;
  box-shadow: 2px 2px 6px #08B952!important;
  border: 0!important;
  border-radius: 6px!important;
  color: #fff!important;
  width: 100px;
}
.button:hover {
  background: #0b8457!important;
  box-shadow: 2px 2px 6px #0b8457!important;
}
.company {
  left: 5%;
}
.signup,
.login
{
  float: right;
}

.mobile_header {
  height: 80px;
  width: 100vw;
  background: #181C35;
}
.navItem ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.navItem span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
}
.navItem {
  z-index: 2;
  position: absolute;
  background: #090D28
}
.nav_btn {
  height: 68px!important;
  width: 200px!important;
}
.menu_icon {
  cursor: pointer;
  margin-left: 12px;
  z-index: 2;
}

@media only screen and (max-width: 500px) {
  .header {
    display: none;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .ant-layout-header{
    padding: 0px 10px!important;
  }
  .header {
    display: none;
  }
}

 
@media only screen and (min-width: 769px) and (max-width: 1199px){
  .ant-layout-header{
    padding: 0px 20px!important;
  }
  .mobile_header {
    display: none;
  }
}


/* Large monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile_header {
    display: none;
  }
}
/* Landscape */
@media only screen and (max-height: 500px) {
    
}
/* Widescreen */
@media only screen and (min-width: 1920px) {
  .mobile_header {
    display: none;
  }
}