* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden!important;
  background-color: #090D28;
}

.shrink {
  transform: scale(.9) translateX(250px);
  height: 100vh;
  overflow: hidden;
  box-shadow: -5px 5px 20px #333;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  transition: .4s all ease-in-out;
  background-color: #090D28;
}

.app__menu {
  position: absolute;
  z-index: 1;
}