.text-gray {
  color: #585D86;
}
.text-white {
  color: #fff!important;
}
.text-center {
  text-align: center;
}
.bg-gray-light {
  background-color: #293462!important;
}
.r-12 {
  border-radius: 12px!important;
}
.r-6 {
  border-radius: 6px!important;
}
.font-16 {
  font-size: 16px;
}
.font-22 {
  font-size: 22px;
}
.font-29 {
  font-size: 29px;
}
.font-45 {
  font-size: 45px;
}
.font-bold {
  font-weight: bold;
}
.md-width {
  min-width: 620px;
}
.full-width {
  width: 100vw;
}
.full-height {
  min-height: 100vh;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 { 
  margin-left: 2rem
}
.py-2 {
  padding: 2rem 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pa-2 {
  padding: 2rem!important;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.btn {
  background: #08B952!important;
  box-shadow: 2px 2px 6px #08B952!important;
  border: 0!important;
  border-radius: 6px!important;
  color: #fff!important;
}
.btn:hover {
  background: #0b8457!important;
  box-shadow: 2px 2px 6px #0b8457!important;
}
.App {
  background: #090D28;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}
/* Header */
.header {
  width: 100vw;
  height: 82px;
  background: #181C35;
  /* position: absolute; */
  z-index: 2;
}
.hover:hover {
  color: #74f6a7;
}
.mobile_header {
  height: 80px;
  width: 100vw;
  background: #181C35;
  /* position: absolute; */
}
.navItem ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.navItem {
  z-index: 2;
  position: absolute;
  background: #090D28;
  overflow-y: hidden;
  height: 100vh;
}
.menu_icon {
  cursor: pointer;
  margin-left: 12px;
  z-index: 2;
}
.close-icon {
  position: absolute;
  cursor: pointer;
  margin: 1rem;
}
/* Footer */
.footer {
  width: 100vw;
  background-color: #181C35;
  position: absolute;
}
/* Home */
.home_logo {
  width: 74px;
  height: 74px;
}
.email_icon {
  width: 20px;
  height: 20px;
  color: #fff;
}
.icon {
  width: 22px;
  height: 22px;
}
.ant-input,
.ant-input-affix-wrapper {
  background-color: #181C35!important;
  border: none!important;
  color: #fff!important;
}
.ant-input {
  height: 60px;
}
/* RESPONSIVE */
/* SmartPhone */
@media only screen and (max-width: 500px) {
  .container {
    padding: 2rem;
  }
/* Wallet */
  .wallet .wallet-promo {
    width: 100%;
    height: 100%;
  }
  .wallet .font-45{
    font-size: 29px;
  }
  .wallet .home_logo {
    width: 45px;
    height: 45px;
  }
/* Notify */
  .notify .font-45 {
    font-size: 24px;
  }
  .notify .font-29 {
    font-size: 16px;
  }
/* Header */
  .header { display: none; }
  .mobile_header .home_logo {
    width: 40px;
    height: 40px;
  }
/* Footer */
  .footer .font-29 {
    font-size: 24px;
  }
  .footer .font-22 {
    font-size: 16px;
  }
  .footer .footer-icon {
    width: 40px;
    height: 40px;
  }
}
/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 768px) {
  .header {
    display: none;
  }
  .header .font-45 {
    font-size: 29px;
  }
  .mobile_header .home_logo {
    width: 40px;
    height: 40px;
  }
  .container {
    width: 100vw;
    padding: 0 2rem;
  }
}
/* Normal */
@media only screen and (min-width: 769px) and (max-width: 1199px){
  .mobile_nav {
    display: none;
  }
  .header .font-45 {
    font-size: 29px;
  }
  .container {
    width: 76rem;
    padding: 0 2rem;
  }
}
/* Large monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile_nav {
    display: none;
  } 
  .container {
    width: 76rem;
  }
}
/* Landscape */
@media only screen and (max-height: 500px) {
  .header .font-45 {
    font-size: 29px;
  }
  .container {
    padding: 0 2rem;
  }
}
/* Widescreen */
@media only screen and (min-width: 1920px) {
  .mobile_nav {
    display: none;
  } 
  .container {
    width: 76rem;
  }
}