.header {
  width: 100vw;
  height: 66px;
  background-color: #1A2F3B!important;
}
.header {
  cursor: pointer;
}
.header__container {
  max-width: 76rem;
  margin: 0 auto;
}
.header__btn {
  background-color: #03A2E9;
  border-radius: 8px;
  height: 39px;
  width: 120px;
}
.header__item {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}