.container {
  max-width: 1216px;
  margin: 0 auto;
}
.selendra {
  height: 95vh;
}
/* .home {
  height: 00px;
  background-image: url('../public/images/sel-bg-small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.home {
  background-color: #1a2f3b;
}
.home h1 {
  color: #fff;
  font-size: 52px;
  font-weight: 900;
}
.home p {
  font-weight: 600;
}
.btnOnBoard {
  width: 100%;
  height: 63px;
  border-radius: 12px;
  background-color: #03a2e9;
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
}
.btnWhitePaper {
  color: #03a2e9;
  border: #03a2e9 3px solid;
  border-radius: 12px;
  width: 100%;
  height: 63px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
}
.feature {
  background-color: #f5f5f5;
  padding: 50px 0 100px 0;
}
.feature p {
  padding-top: 40px;
  font-size: 20px;
  color: #335c74;
  text-align: center;
}
.featureTitle {
  position: relative;
  height: 160px;
  margin: 0;
}
.featureTitle h1 {
  /* border: 1px solid red; */
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200px;
  text-align: center;
  color: #e8e7ec;
  font-size: 152px;
  font-weight: 900;
  top: 0;
  left: 0;
  margin: 0;
}
.featureTitle h4 {
  /* border: 1px solid blue; */
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 220px;
  color: #000;
  font-size: 52px;
  font-weight: 900;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature img {
  height: 520px;
  width: auto;
}
.architecture {
  padding: 80px 0;
}
.architecture h4 {
  font-size: 18px;
  font-weight: 600;
  color: #edce3f;
  margin-bottom: -8px;
}
.architecture h1 {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
}
.architectureItem {
  padding: 40px 0;
}
.architectureItem img {
  width: 80%;
  height: auto;
}
.benefit {
  background-color: #f5f5f5;
  padding: 80px 0;
}
.benefit h4 {
  font-size: 16px;
  font-weight: 900;
  color: #ed1576;
  margin-bottom: -8px;
}
.benefit h1 {
  font-size: 52px;
  font-weight: 900;
}
.benefit p {
  color: #000;
  font-weight: 600;
}
.benefit img {
  width: 100%;
  height: auto;
}
.usecase {
  padding: 100px 0;
}
.usecase img {
  height: 49px;
  width: auto;
  margin-bottom: 20px;
}
.usecase h1 {
  font-size: 52px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.dualToken {
  background-color: #f5f5f5;
  padding: 100px 0;
}
.dualToken h1 {
  font-size: 52px;
  font-weight: 900;
  text-align: center;
}
.dualToken h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
.dualToken p {
  color: #335c74;
  text-align: center;
}
.dualToken img {
  height: 310px;
  width: auto;
}
.totalSupply {
  padding: 100px 0;
  background-color: #fff;
}
.totalSupply h1 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.totalSupply p {
  color: #333;
}
.totalSupply p:nth-child(1) {
  border-left: 12px solid #03a9f4;
  padding-left: 8px;
}
.totalSupply p:nth-child(2) {
  border-left: 12px solid #f0c90a;
  padding-left: 8px;
}
.totalSupply p:nth-child(3) {
  border-left: 12px solid #ed1576;
  padding-left: 8px;
}
.totalSupply p:nth-child(4) {
  border-left: 12px solid #d65b09;
  padding-left: 8px;
}
.totalSupply p:nth-child(5) {
  border-left: 12px solid #4609d6;
  padding-left: 8px;
}
.riseToken {
  background-color: #f5f5f5;
  padding: 100px 0;
}
.riseToken h1 {
  font-size: 52px;
  font-weight: 900;
  text-align: center;
}
.riseToken p {
  color: #000;
  font-weight: 600;
}

.happendTitle {
  font-size: 36px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 40px;
}
.happenSection {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.happenFirstBack {
  background: #ed1576;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}
.happenFirstBack:hover {
  opacity: 80%;
}
.happenFirstBack h3 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}
.happenSecondBack {
  background: #00a3e0;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}
.happenSecondBack:hover {
  opacity: 80%;
}
.happenSecondBack h3 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}
.roadmap {
  padding: 40px 0px;
}
.roadmap h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.roadmap p {
  font-size: 16px;
  color: #edce3f;
  margin-bottom: 10px !important;
}
.roadmapLeft {
  font-size: 18px;
  text-align: right;
  border-right: 2px solid #f5f5f5;
  padding-right: 20px;
}
.roadmapLeft p {
  margin-bottom: 0px;
}
.dot {
  height: 18px !important;
  width: 18px !important;
  background-color: #f0c90a;
  position: absolute;
  right: -8px;
  border-radius: 50%;
}
.roadmapRight {
  font-size: 18px;
  text-align: left;
  border-left: 2px solid #f5f5f5;
  padding-left: 20px;
  position: relative;
  right: 2px;
}
.roadmapRight p {
  margin-bottom: 0px;
}
.dotRight {
  height: 18px !important;
  width: 18px !important;
  background-color: #f0c90a;
  position: absolute;
  left: -10px;
  border-radius: 50%;
}
.roadmapul ul {
  list-style: none;
  padding: 0px !important;
  margin-bottom: 0px;
}
.roadmapul ul li {
  margin-bottom: 8px;
}
@media only screen and (max-width: 76rem) {
  .container {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .selendra {
    height: 100%;
  }
  .home {
    height: 100%;
    padding: 40px 0;
    background-image: none;
  }
  .home h1 {
    font-size: 36px;
  }
  .home p {
    font-size: 20px;
    font-weight: 600;
  }
  .home img {
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
  }
  .featureTitle {
    height: 60px;
  }
  .featureTitle h1 {
    font-size: 52px;
    height: 60px;
  }
  .featureTitle h4 {
    font-size: 20px;
    height: 75px;
  }
  .architecture img,
  .feature img {
    width: 80%;
    height: auto;
  }
  .benefit,
  .usecase,
  .dualToken,
  .totalSupply,
  .riseToken {
    padding: 40px 0;
  }
  .benefit img {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .usecase h1,
  .dualToken h1,
  .totalSupply h1,
  .riseToken h1 {
    font-size: 36px;
  }
  .usecase .usecaseItem {
    padding: 20px 0 0 0;
  }
  .totalSupply img,
  .riseToken img {
    padding-bottom: 20px;
  }
  .dualToken img {
    width: 200px;
    height: auto;
  }
}
