.container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}
.container hr {
  color: #ED1576;
  background-color: #ED1576;
  height: 6px;
  border: none;
}
.container h1 {
  color: #fff;
  font-weight: 900;
  font-size: 52px;
}
.container h2 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
}
.container Input {
  background-color: #1D3442;
  color: #fff;
  height: 70px;
  border: none;
  border-radius: 8px;
}
.container Button {
  width: 100%;
  height: 63px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #03A2E9;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
}