.privacy {
  background-image: url("/images/background.png");
  background-size: cover;
  padding: 50px 0px;
}
.privacy h1 {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  margin-bottom: -10px;
}
.privacy h4 {
  font-weight: 800;
  color: #d65b09;
  margin-top: 15px;
}
.privacy p {
  margin-left: 40px;
  color: #f5f5f5;
}
@media only screen and (max-width: 76rem) {
  .privacy {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .privacy {
    padding: 40px 10px;
  }
  .privacy h1 {
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    margin-bottom: -10px;
  }
  .privacy h2 {
    font-size: 20px;
    font-weight: 600;
    color: #d65b09;
  }
}
