.termOfUse {
  background: url("/images/background.png");
  padding: 50px 0px;
}
.termOfUse h1 {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  margin-bottom: -10px;
}
.termOfUse h2 {
  font-size: 24px;
  font-weight: 800;
  color: #d65b09;
  margin-top: 20px;
}
.termOfUse p {
  margin-left: 40px;
  color: #f5f5f5c2;
}
@media only screen and (max-width: 76rem) {
  .termOfUse {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .termOfUse {
    padding: 40px 10px;
  }
  .termOfUse h1 {
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    margin-bottom: -10px;
  }
  .termOfUse h2 {
    font-size: 20px;
    font-weight: 600;
    color: #d65b09;
  }
}
